// setting_schema mein add karna hai

  {
    "name" : "Free Shipping Bar",
    "settings" : [
      {
        "type" : "text",
        "label" : "Add Price",
        "id": "free_shipping"
      }
    ]
  },

// Upper Box mein 1000 dala hai

// free-shipping.liquid (Snippet)

{% assign MainPrice = settings.free_shipping | plus: 0 %}
{% assign CartPrice = cart.total_price | money_without_currency %}
{% assign CartPrice = CartPrice | remove: ".00" %}
{{ MainPrice }}  {{ CartPrice }} 
{% assign TotalPrice =  MainPrice | minus: CartPrice %}

<!-- {% assign PercentFlow = 100 | times: CartPrice %}
{% assign PercentDevision = PercentFlow | divided_by: MainPrice %} -->

Result: {{ TotalPrice }}
{% if TotalPrice < 999 %}
<p>Add {{ TotalPrice }} more to get free shipping</p>
{% else %}
<p>Now Free Shipping</p>
{% endif %}
